.col {
    display: flex;
    flex-direction: column;

    & > :global(*:not(:last-child)) {
        margin-bottom: 8px;
    }

}
.row {
    display: flex;
    flex-direction: row;

    & > :global(*:not(:last-child)) {
        margin-right: 8px;
    }

    &.vcenter {
        align-items: center;
    }
    &.center {
        justify-content: center;
    }
}
