//
// MDC Theme
//

@import "@material/theme/color-palette";
@import 'color';

// Svelte Colors!
$mdc-theme-primary: $primary;
$mdc-theme-secondary: $secondary;
// Other Svelte color: #40b3ff

$mdc-theme-background: #424242;
$mdc-theme-surface: #424242;

$mdc-theme-error: $material-color-red-900;