//
// MDC Theme
//

@import 'color';

// Svelte Colors!
$mdc-theme-primary: $primary;
$mdc-theme-secondary: $secondary;
// Other Svelte color: #40b3ff

$mdc-theme-background: $primary-dark;
$mdc-theme-surface: $primary-dark;

$mdc-theme-error: $material-color-red-900;