@import "@material/theme/color-palette";

$primary: $material-color-grey-500;
$primary-lite: $material-color-grey-50;
$primary-dark: $material-color-grey-900;
$primary-dark-text:#eeeeee;



$secondary: $material-color-deep-orange-500;
$secondary-dark: $material-color-deep-orange-900;