@import "@material/theme/color-palette";

$primary: $material-color-grey-800;
$primary-lite: $material-color-grey-50;
$primary-lite-text: $material-color-grey-800;
$primary-dark: $material-color-grey-900;
$primary-dark-text:$material-color-grey-100;
$primary-text: $material-color-grey-100;
$primary-border: $material-color-grey-400;



$secondary: $material-color-deep-orange-500;
$secondary-dark: $material-color-deep-orange-900;