@import 'color';

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

select, button, input[type=number], input[type=text] {
    border: 1px solid;
    border-radius: 8px;
    padding: 8px;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px #ccc;
    &:hover {
       box-shadow: 0 0 2px $col-primary;
    }
}

table {
    border: none;
    border-collapse: collapse;
}
