@import 'color';

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

select, button, input {
    border: 1px solid;
    border-radius: 8px;
    padding: 8px;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px #ccc;
    &:not(:disabled):hover {
        box-shadow: 0 0 4px $col-primary;
    }
}

select, input {
    background-color: #eee;
    color: #333;
    box-shadow: 0 0 4px transparentize(#000, .8);

    &:not(:disabled) {
        background-color: #f0f0f0;
        &:focus {
            box-shadow: 0 0 4px $col-secondary;
        }
    }
    &:disabled {
        background-color: #ccc;
        border: 1px solid #aaa;
    }
}

button {
    font-weight: bold;
    font-size: .9em;

    &.primary {
        color: $col-primary-text;
        &:not(:disabled) {
            background-color: $col-primary;
            border: 1px solid $col-primary;
            &:hover {
                box-shadow: 0 0 4px $col-secondary;
            }
            &:active {
                background-color: $col-secondary;
                border: 1px solid $col-secondary;
                color: $col-secondary-text;
            }
        }
        &:disabled {
            background-color: grayscale($col-primary);
            color: grayscale($col-primary-text);
        }
    }
    &.secondary {
        color: $col-secondary-text;
        &:not(:disabled) {
            background-color: $col-secondary;
            border: 1px solid $col-secondary;
            &:hover {
                box-shadow: 0 0 4px $col-primary;
            }
            &:active {
                background-color: $col-primary;
                border: 1px solid $col-primary;
                color: $col-primary-text;
            }
        }
        &:disabled {
            background-color: grayscale($col-secondary);
            color: grayscale($col-secondary-text);
        }
    }    
}

table {
    border: none;
    border-collapse: collapse;
}
