@import "@material/theme/color-palette";

$col-primary: $material-color-indigo-500;
$col-primary-text: #fff;

$col-secondary: $material-color-deep-orange-500;
$col-secondary-text: #fff;

$col-primary-bg: #fff;

$col-error: $material-color-red-900;
