@import "@material/typography/mdc-typography";
@import "@material/theme/color-palette";

$mdc-theme-primary: $material-color-indigo-500;
$mdc-theme-secondary: $material-color-deep-orange-500;

$mdc-theme-on-primary: #fff;
$mdc-theme-on-secondary: #fff;

$mdc-theme-background: $material-color-indigo-800;
$mdc-theme-surface: $material-color-indigo-100;

$mdc-theme-error: $material-color-red-900;

@import "@material/theme/mdc-theme";