table {
    font-size: 0.9em;
    width: 100%;
}

tbody {
    & tr {
        &.odd {
            background-color: lighten($col-primary, 48);
        }
    }
    & td {
        white-space: pre;
        vertical-align: top;
        border-bottom: 1px solid #e0e0e0;
        padding: 4px;

        & + td {
            border-left: 1px solid #ccc;
        }
    }
}

.loading-container {
    z-index: 1;
    position: fixed;
    right: 16px;
    &.notitle {
        top: 24px;
    }
    &:not(.notitle) {
        top: 66px;
    }
    & .loading {
        box-shadow: 0 0 8px #000;
        opacity: 1;
        transition: opacity 0.1s ease-out;
        transition-duration: 100ms;
        &.hide {
            opacity: 0;
            transition-duration: 500ms;
        }
    }
}