@import "@material/typography/mdc-typography";
@import "@material/drawer/mdc-drawer";

@import "theme/color";

.rounded {
    border-radius: 8px;
    padding: 8px;
}

.padding {
    padding: 8px;
}

.column {
    flex-direction: column;
    align-items: stretch;
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    &.center {
        align-items: center;
    }
}


a {
    text-decoration: none;
}

select, button, input[type=number], input[type=text] {
    border: 1px solid;
    border-radius: 8px;
    padding: 8px;
    outline: none;
    &:hover {
        // border: 1px solid $secondary;
    }
}

.primary-bg {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);

    & a {
        color: var(--mdc-theme-on-primary);
    }
}
